.partners
    @include grid(4)
    li
        margin-bottom: $grid-gutter*2
    a
        text-decoration: none
        &::after
            display: none
    h2
        font-family: $font-family-serif
        font-size: px2rem(25)
        margin-bottom: 0
    picture
        align-items: center
        aspect-ratio: 1/1
        background: $bg-secondary-color
        display: flex
        justify-content: center
        margin-bottom: $grid-gutter
        @media (prefers-color-scheme: dark)
            background: white
    img
        filter: grayscale(1)
        height: 40%
        object-position: center
        transition: filter 0.33s
        width: 40%
