---
layout: default
class: page post
---

<header>
  <div>
    {% assign category = site.categories | where: 'slug', page.category | first %}
    <p class="h1"><a href="{{ category.url }}">{{ category.title }}</a></p>
    <h1>{{ page.title }}</h1>
  </div>
</header>

{% if page.sections %}
  {% include sections-with-notes.html %}
{% endif %}

{% if page.partners %}
<section>
  {% include partners.html %}
</section>
{% endif %}

{% assign content = post.content | strip_newlines %}
{% if content != "" and content != null %}
<section>
  {{ content }}
</section>
{% endif %}
